<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>CRM Serwis</title>

</head>
<body>
<header>
    <div th:replace="header.html"></div>
</header>

<div class="container mt-4">
    <h1>Witaj w CRM Serwisie</h1>
    <p class="lead">Twój najlepszy partner w zarządzaniu klientami.</p>
</div>

</body>
</html>
